body{
    margin: 0;
    padding-top: 800px;
    text-align: center;
}
.profile{
    border-radius: 50%;
}
#welcome{
    position: absolute;
    bottom: 0;
    background: linear-gradient(blue 0%, violet 50%);
    display: table;
    height: 100%;
    width: 100%;
}
h1{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
#name{
    font-size: 50px;
    font-family: 'Rubik Glitch';
}
h2{
    font-size: 30px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#bio{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px;
}
.line{
    height: 6px;
    background-color: black;
    width: 80px;
    margin: 8px auto;
    
}
.parallax-inner{
    display: table-cell;
    vertical-align: middle;
}
.menu{
    
    position: fixed;
    top: 0px;   
    z-index: 10;
    background-color: blue;
    width: 100%;
    margin-top: 0px;
}
.link{
    
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    display: inline;
    
    
}
a{
    text-decoration: underline;
    color:red;

}
.links:hover{
    font-size: 25px;
    text-decoration: underline;
}
#contact{
    background:lightgray
}
#contact iframe{
    width: 100%;

}
.contact_1 h3{
    display: inline;
}
